.fullScreen {
  width: 97%;
  height: 95%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 
  -10px 0 5px -5px rgba(110, 110, 110, 0.2), /* 왼쪽 */
  0 15px 5px -5px rgba(0, 0, 0, 0.2),        /* 아래 */
  15px 0 5px -5px rgba(110, 110, 110, 0.2);  /* 오른쪽 */
  //-------------------------------------------------------
  display: flex;
}