.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.confirmButton {
  margin: 10px;
  background-color: #ff8803;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.confirmButton:hover {
  background-color: #ff5e00;
}
.cancelButton {
  margin: 10px;
  background-color: #ccc;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cancelButton:hover {
  background-color: #bbb;
}
